$maxWidth: 1920;
$maxWidthContainer: 1414;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    //Всегда
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue-Light'), local('BebasNeue-Light'),
  url('font/BebasNeue-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue-Regular'), local('BebasNeue-Regular'),
  url('font/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(151, 137, 249);
  margin: 0;
}

.wrapper {
  max-width: 1414px;
  max-height: 998px;
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(327px, auto));
  position: relative;
  column-gap: 20px;
}

.column_first {
  grid-template: minmax(auto, 100px) minmax(auto, 40px) minmax(auto, 100px) minmax(auto, 1fr)  minmax(auto, 50px)/ 1fr;
  row-gap: 1%;
  background-image: url("img/1_back.png");
  width: 327px;
  height: 611px;
  @include adaptiv-value("margin-top", 201, 1, 3);
  @include adaptiv-value("margin-bottom", 186, 1, 3);
  @include adaptiv-value("margin-left", 173, 1, 3);
  display: grid;
  background-size: cover;
  background-repeat: round;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: end;

  &__price {
    font-family: "BebasNeue", serif;
    font-weight: lighter;
    color: rgb(24, 24, 24);
    align-items: end;

    &__wrapper {
      display: grid;
      grid-template-areas: "a b ."
      ". b c";
      justify-content: center;
      align-items: center;

      .price__wrapper-big {
        font-size: 60px;
        text-transform: uppercase;
        line-height: 0.6;
        grid-area: b;
      }

      .price__wrapper-little_1 {
        font-size: 24px;
        grid-area: a;
      }

      .price__wrapper-little_2 {
        font-size: 16px;
        line-height: 2.25;
        grid-area: c;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-family: "BebasNeue", serif;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    line-height: 1.5;
  }

  &__body-text {
    display: grid;
    grid-template: auto auto auto auto auto / auto;
    font-size: 16px;
    color: rgb(24, 24, 24);
    line-height: 3.313;
    font-family: "Roboto Light", serif;
    text-align: left;
    justify-content: center;
    padding-bottom: 40px;
  }

  &__button {
    justify-self: center;
    width: 203px;
    height: 54px;
    border-radius: 100px;
    font-size: 18px;
    font-family: "BebasNeue", serif;
    color: rgb(255, 255, 255);
    line-height: 2.944;
    border-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
}

.button_blue {
  background-color: rgb(111, 207, 251);
}

.column_scnd {
  grid-template: minmax(auto, 100px) minmax(auto, 40px) minmax(auto, 100px) minmax(auto, 1fr)  minmax(auto, 50px) minmax(auto, 20px)/ 1fr;
  row-gap: 1%;
  background-image: url("img/2_back.png");
  width: 370px;
  height: 691px;
  @include adaptiv-value("margin-top", 161, 20, 3);
  @include adaptiv-value("margin-bottom", 146, 1, 3);
  display: grid;
  background-size: cover;
  background-repeat: round;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: end;
  position: relative;

  .popular_img{
    position: absolute;
    top: 5px;
    right: -88px;
  }

  &__footer {
    font-size: 11px;
    font-family: "Roboto";
    color: rgb(169, 169, 169);
    line-height: 4.818;
    margin-bottom: 15px ;
  }
}

.button_red {
  background-color: rgb(253, 141, 123);
  margin-bottom: 35px;
}

.column_thrd {
  grid-template: minmax(auto, 100px) minmax(auto, 40px) minmax(auto, 100px) minmax(auto, 1fr)  minmax(auto, 50px)/ 1fr;
  row-gap: 1%;
  background-image: url("img/3_back.png");
  width: 327px;
  height: 611px;
  @include adaptiv-value("margin-top", 201, 20, 3);
  @include adaptiv-value("margin-right", 175, 1, 3);
  @include adaptiv-value("margin-bottom", 186, 1, 3);
  display: grid;
  background-size: cover;
  background-repeat: round;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: end;
}